* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3f3f3f;
    color: #fff;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 36px;
}

.petal {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FF69B4;
    opacity: 0.7;
    border-radius: 50%;
    z-index: 1000; /* add this line to ensure petals are layered above all other elements */
}
